body {
    background-image: url("../images/background.jpg"), url("../images/paper-background.jpg");
    background-blend-mode: soft-light;
}
cite {
    text-align: center;
}
a {
    font-size: x-large;
}
div {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
}