.horizontal_container {
    display: flex;
    padding-bottom: 30px;
}
body {
    background-color: bisque;
}
form, .form-like {
    width: 33%;
    padding: 30px 30px 30px 30px;
    box-sizing: padding-box;
}
textarea {
    height: 300px;
    width: 100%;
    resize: none;

}
input.submit, p {
    float: right;
    margin-top: 30px;
}
input.choosefile {
    margin-top: 30px;
}
select {
    margin-right: 30px;
}
#configs_btn {
    float: left;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}