<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/index.css">
</head>
<body>
    <div><a href="compression/">Алгоритмы сжатия</a></div>
    <div><a href="rsa/">Криптосистемы с открытым ключом</a></div>
    <div><a href="zero_knowledge_proof">Доказательство с нулевым знанием</a></div>
    <cite>
        <p>Цуканов Александр</p>
        <p>513802</p>
    </cite>
</body>
</html>